.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.pytest_cache
.vscode
*.egg-info
*.pyc
*~
.pnp
build
coverage
node_modules
data.json
dist
MANIFEST
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

Website/public/bundle.js
